@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

  --color-primary-50: #f0f9ff;
  --color-primary-100: #dff2ff;
  --color-primary-200: #b9e7fe;
  --color-primary-300: #7bd5fe;
  --color-primary-400: #34c0fc;
  --color-primary-500: #0aa9ed;
  --color-primary-600: #0087cb;
  --color-primary-700: #0077b6;
  --color-primary-800: #055b87;
  --color-primary-900: #0a4b70;
  --color-primary-950: #07304a;

  --color-accent-50: #fff6ed;
  --color-accent-100: #ffebd5;
  --color-accent-200: #ffd3a9;
  --color-accent-300: #feb473;
  --color-accent-400: #fd8a3a;
  --color-accent-500: #fb6914;
  --color-accent-600: #ed4e0a;
  --color-accent-700: #c4380a;
  --color-accent-800: #9b2d11;
  --color-accent-900: #7d2811;
  --color-accent-950: #441106;
}

a:focus, button:focus {
  @apply outline-4 outline-offset-2 outline-primary-800 outline-dashed;
}
