---
import Carousel from "../components/carousel/Carousel.astro";
import Layout from "../layouts/Layout.astro";

const carouselItems = [
	{ 
		url: "/foobar",
		active: false, 
		title: "Aristop Solle",
		subtitle: "Istri Terbaik Sedunia, DW no 1",
		image: "/images/carousel-4.jpg",
	},
	{ imageUrl: "/images/carousel-1.jpg", active: false, description: "asa" },
	{ imageUrl: "/images/carousel-2.jpg", active: false, description: "asa" },
	{ imageUrl: "/images/carousel-3.jpg", active: false, description: "asa" }
]

// type Props = {
// 	items: CarouselItem[];
// }


// const { items } = Astro.props;
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Carousel items={carouselItems} time={10 * 1000} />
	<div class="h-128">

	</div>
</Layout>
