---
const today = new Date();
---

<footer class="bg-primary-900 text-neutral-200 flex flex-col gap-4 px-4 md:px-0">

	<div class="md:max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-3 gap-4 sm:gap-12 my-8 justify-end">
		<div>
			<h3 class="text-lg leading-12 font-bold">BKD Provinsi Nusa Tenggara Timur</h3>
			<div></div>
			<p>Jln. Raya El Tari No.52 Oebobo Kupang</p>
			<p>Kel. Oebobo, Kec. Kota Raja, Kota Kupang, Nusa Tenggara Tim. 85111</p>
		</div>

		<div>
			<h3 class="text-lg leading-12 font-bold">Call Center BKD</h3>
			<div></div>
			<p>SENIN-KAMIS Pukul 08.00-16.00 dan JUMAT Pukul 08.00-16.30.</p>
			<p>CHAT ONLY ✅, NO CALL 🚫.</p>
			<p>Sertakan: NAMA,NIP,ISTANSI,KENDALA</p>
		</div>

		<div>
			<h3 class="text-lg leading-12 font-bold">Waktu Operasional</h3>
			<p>Senin - Kamis: 08.00 - 16.00 WITA</p>
			<p>Jumat: 08.00 - 16.30 WITA</p>
			<div></div>
			<h3 class="text-lg leading-12 font-bold">Istirahat</h3>
			<p>Senin - Jumat: 12.00 - 13.00 WITA</p>
		</div>

	</div>

	<div class="w-full pt-[1px] h-0 bg-primary-300"></div>

	<div class="md:max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 items-center min-h-12 text-lg font-bold">
		<p class="grow">&copy; {today.getFullYear()} BKD NTT</p>
		<p class="">Melayani dengan Cerdas, Cepat, Bertanggung Jawab, Berintegritas, Tulus, dan Ikhlas</p>
	</div>

	
</footer>
