---
import { Icon } from "astro-icon/components";

type Props = {
  iconName: string;
  title: string;
  totalItems?: number;
  listingRef: string;
  class?: string;
};

const props = Astro.props;
---

<div
  class:list={[
    "",
    props.class ?? ""
  ]}
>
  <section
    class:list={["Container bg-white border border-neutral-300 p-8 mx-auto px-4", props.class ?? ""]}
  >
    <div class="flex items-center gap-2 mb-6">
      <h1 class="text-primary-800 dark:text-white text-xl md:text-3xl font-black">
        {props.title}
      </h1>
      <div class="grow"></div>
      {props.totalItems && (
        <div
          class="hidden md:flex rounded-xl bg-primary-700 dark:bg-transparent text-white text-lg font-bold items-center justify-center px-6 py-2"
        >
          {props.totalItems}
          {props.title}
        </div>
      )}
    </div>

    <slot />
  </section>
</div>
