---
/* No frontmatter needed */
---

<div 
    id="SearchWrapper"
    class="py-12 fixed inset-0 z-100 bg-white/10 backdrop-blur-xs items-start justify-center hidden"
>
    <div class="max-w-7xl flex items-start justify-start h-full w-full">
        <div 
            id="search"
            class="pagefind-ui"
        ></div>
    </div>
</div>

<!-- Load Pagefind UI -->
<!-- <link href="/pagefind/pagefind-ui.css" rel="stylesheet"> -->
<style>
    #SearchWrapper {
    }

    #search {}
</style>