---
import { Icon } from 'astro-icon/components';

type Props = {
  icon: string;
  content: string;
  url: string;
}

const { icon, content, url } = Astro.props;
---

<a 
  class="flex items-center gap-2 py-2"
  href={url}
  target="_blank"
>
  <Icon name={icon} class="size-4 text-accent-300" />
  <div class="text-sm">{content}</div>
</a>