<div
  class="h-[calc(100vh-theme(space.24))] max-w-screen py-24 bg-neutral-100 dark:bg-black"
>
  <div class="container h-full mx-auto flex items-center justify-center">
    <iframe
      class="w-full h-full"
      src="https://www.youtube.com/embed/VRPbg0zXj-c?si=1Uq68DrMb5MUHjfN"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
  </div>
</div>
