---
import type { PostLikeItem } from "./types";

type Props = PostLikeItem & { class?: string };

const { class: className, ...props } = Astro.props;
---

<div
  data-active={props.active ? "true" : "false"}
  data-title={props.title}
  class:list={[
    "CarouselItem group w-full relative object-cover overflow-hidden bg-center bg-cover bg-fixed flex flex-col items-center justify-center",
    "shrink-0 basis-0 transition-[flex-basis] duration-500 ease-in-out",
    "data-[active=true]:basis-[100%]",
    className && "",
  ]}
  style={`background-image: url(${props.image})`}
>
</div>
