---
import type { ImageLikeItem } from "./types";
import placeholderImage from "../../images/news.png";
import { Image } from "astro:assets";

type Props = ImageLikeItem & { class?: string };

const { class: className, ...props } = Astro.props;
const image = props.imageUrl ?? placeholderImage;
---

<div
  data-active={props.active ? 'true' : 'false'}
  data-title={props.description}
  class:list={[
    "CarouselItem flex transition-[flex-basis] duration-500 ease-in-out overflow-hidden basis-0",
    // "data-[active=true]:basis-[100vw] data-[active=true]:grow",
    "data-[active=true]:shrink-0 data-[active=true]:grow data-[active=true]:basis-[100vw]",
    className && ""
  ]}
>
  <Image
    src={image}
    alt="image title"
    class="grow object-cover h-full"
  />
</div>
